@using BOL;

@{
    List<Employee> allEmp=ViewData["employees"] as List<Employee>;

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Emp id</th>
                <th scope="col"> Name</th>
                <th scope="col">Email</th>
                <th scope="col">Salary</th>
                <th scope="col">Delete/Update</th>
            </tr>
        </thead>
        <tbody>
                @foreach (Employee e in allEmp)
            {
                <tr>
                        <th scope="row">@e.empId</th>
                        <td>@e.name</td>
                        <td>@e.email</td>
                        <td>@e.salary</td>
                        <td>
                            <a asp-action="DeleteEmp" asp-route-empId="@e.empId" class="text-danger" onclick="return confirm('Are you sure you want to remove @e.name?')">Delete</a>
                            <a asp-action="UpdateEmp" asp-route-empId="@e.empId" class="text-primary">Update</a>

                        </td>
                       
                </tr>
               
            }
        </tbody>
    </table>
   // @Html.ActionLink("emp","GetEmp","Employee");
   <a href="/Employee/getEmp" class="btn btn-success">Get Employee by Id</a><br>
   @* <a href="/Employee/deleteEmp" class="btn btn-danger">Delete Emp </a> <br>
   <a href="/Employee/updateEmp" class="btn btn-secondary">Update Emp </a> *@

}